---
import Layout from '@layouts/Layout.astro';
import "@styles/global.css";
---
<Layout>
    <div id="container" class="max-w-screen w-[40rem] rounded-xl p-10 mx-auto bg-neutral-950 my-10 text-white">
        <ul class="space-y-2">
            <li class="flex justify-between items-center">
                <span>pone.social:</span>
                <a href="https://pone.social/@lenny" class="text-blue-600 hover:underline">https://pone.social/@lenny</a>
            </li>
            <li class="flex justify-between items-center">
                <span>x:</span>
                <a href="https://x.com/copperhorse/" class="text-blue-600 hover:underline">https://x.com/copperhorse/</a>
            </li>
            <li class="flex justify-between items-center">
                <span>email:</span>
                <a href="mailto:lenny@copper.horse" class="text-blue-600 hover:underline">lenny@copper.horse</a>
            </li>
        </ul>
    </div>
</Layout>

<style>

</style>
